################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Apocryph.Dao.Bot/v16
/core/Apocryph.Dao.Bot.Core/bin/Debug/net5.0
/core/Apocryph.Dao.Bot.Core/obj
/docker/bin/Debug
/docker/obj
*.user
/.vs/Apocryph.Dao.Bot/DesignTimeBuild
/.vs/apocryph-dao-bot/v16
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/frontend/Apocryph.Dao.Bot.Frontend.Intro/bin
/frontend/Apocryph.Dao.Bot.Frontend.Intro/obj/Debug
UpgradeLog.htm
UpgradeLog2.htm
Apocryph.Dao.Bot.Discord/obj/Debug/
Apocryph.Dao.Bot.Discord/bin/Debug/
