version: '3.4'

services:
  apocryph.dao.bot:
    build:
      context: ../
      dockerfile: docker/Dockerfile
    environment:
      - APACHE_IGNITE_ENDPOINT=obecto.perper.fabric:10800
      - PERPER_FABRIC_ENDPOINT=http://obecto.perper.fabric:40400
    ports:
      - "8080:80"
    depends_on:
      - obecto.perper.fabric

  obecto.perper.fabric:
    image: obecto/perper-fabric:0.7.0
    command: --max-data-region-size 1024
    ports:
      - "10800:10800" # for local debugging
      - "40400:40400" # for local debugging

  ipfs:
    container_name: ipfs
    build:
      context: ./ipfs
      dockerfile: Dockerfile
    ports:
      - "5001:5001" # ipfs api - expose if needed/wanted
    volumes:
      - ipfs_staging:/export
      - ipfs_data:/data/ipfs

volumes:
  ipfs_staging:
  ipfs_data:
